body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f1faee;
    font-family: "Ampero";
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
}

.header-top {
    background: linear-gradient(270deg, #345a5bff, #636441ff, #d6bbbeff);
}

.header-top__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    min-height: 54px;
    font-size: 20px;
}

.header-top__menu-link {
    transition: all .5s;
    position: absolute;
    padding: 15px 0 18px;
    color: #2F3035;
    transform: translate(-50%, -50%);
}

.header-top__menu-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    left: auto;
    right: 0;
    bottom: 0;
    background-color: rgb(197, 207, 45);
    transition: all .3s;
}

.header-top__menu-link:hover {
    color: #000;
}

.header-top__menu-link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.header-bottom__wrapper {
    display: flex;
    /* align-items: center; */
}

.cv-title {
    margin-top: 80px;
    margin-right: 350px;
}
.cv-title:hover {
    text-shadow: 1px 1px 3px rgb(170, 179, 49), 0 0 1em rgb(73, 145, 105), 0 0 0.5em rgb(74, 128, 102);
}
.cv-photo {
    width: 250px;
    height: 250px;
    margin-left: 80px;
    margin-right: auto;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.header-bottom__content {
    display: flex;
    flex-direction: column;
}

.about-myself {
    display: none;
}


















/* CSS HEX
--charcoal: #203a4bff;
--citron: #ae9e25ff;
--dark-slate-gray: #345a5bff;
--antique-bronze: #636441ff;
--silver-pink: #d6bbbeff;
*/


/* SCSS Gradient
$gradient-top: linear-gradient(0deg, #203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
$gradient-right: linear-gradient(90deg, #203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
$gradient-bottom: linear-gradient(180deg, #203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
$gradient-left: linear-gradient(270deg, #203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
$gradient-top-right: linear-gradient(45deg, #203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
$gradient-bottom-right: linear-gradient(135deg, #203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
$gradient-top-left: linear-gradient(225deg, #203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
$gradient-bottom-left: linear-gradient(315deg, #203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
$gradient-radial: radial-gradient(#203a4bff, #ae9e25ff, #345a5bff, #636441ff, #d6bbbeff);
*/